@{
	ViewBag.Title = "About";
}


<!-- One -->
<section id="One" class="wrapper style3">
	<div class="inner">
		<header class="align-center">
			<p>Нешто повеќе</p>
			<h2>За нас</h2>
		</header>
	</div>
</section>

<!-- Two -->
<section id="two" class="wrapper style2">
	<div class="inner">
		<div class="box">
			<div class="content">
				<header class="align-center">
					<p>Доколку сакате да знаете</p>
					<h2>Кои се креаторите на оваа страница</h2>
				</header>
				<p>
					Ние сме група од 4 студентки кои студираат во Скопје. Бидејќи сите доаѓаме и живееме во различни градови, патувањето со автобус или воз
					често ни претставуваше проблем:
				</p>

				<p>- од аспект на време - не секогаш има линии и не секогаш се поклопуваат со нашите обрски,</p>
				<p>- од аспект на комфорт - сите знаеме дека автобусите и возовите кај нас не се баш најпогодни и удобни за патување,</p>
				<p>- од аспект на брзина - патувањето со автомобил е најбрз начин за превоз.</p>

				<p>Токму поради тоа, решивме да ги споиме сите Facebook страници кои нудат превоз во една веб сајт на кој ќе може сите да објавуваат нови патувања и истовремено и да си закажуваат патувања, без да има потреба од долги пребарувања на останатите социјални мрежи.</p>

				<div id="sliki">
					<table>
							<tr class="class1">
								<th>
									<img src="~/imgs/teodora.png" width="170px" />
									<br />
									<h4>Теодора Бојоска - 171066</h4>


								</th>

								<th>
									<img src="~/imgs/tamara.png" width="170px" />
									<br />
									<h4>Тамара Бишкоска - 171034</h4>

								</th>

								<th>
									<img src="~/imgs/andrea.png" width="170px" />
									<br />
									<h4>Андреа Галевска - 171002</h4>

								</th>

								<th>
									<img src="~/imgs/angela.png" width="170px" />
									<br />
									<h4>Ангела Стојковска - 171065</h4>

								</th>
							</tr>
					</table>
				</div>
			</div>


		</div>
	</div>
</section>

<style>
	#sliki {
		margin-left: 0%;
		background-color: none;
	}

	img {
		margin-left: 20%;
		margin-top: 5%;
	}
	h4 {
		margin-left:10%;
	}

</style>
