@model najdiPrevoz.Models.Trip

@{
	ViewBag.Title = "Reserve";
}


<!-- One -->
<section id="One" class="wrapper style3">
	<div class="inner">
		<header class="align-center">
			<p></p>
			<h2>Резервирај</h2>
		</header>
	</div>
</section>

<!-- Two -->
<section id="two" class="wrapper style2">
	<div class="inner">
		<div class="box">
			<div class="content">
				<header class="align-center">
					<p>Резервирајте место</p>
				</header>
				<br />
				<div class="rez text-center align-center">
					@using (Html.BeginForm())
					{
						@Html.AntiForgeryToken()

						<div class="form-horizontal">

							@Html.ValidationSummary(true, "", new { @class = "text-danger" })
							@Html.HiddenFor(model => model.Id)
							<p>Број на места:</p>
							<div class="form-group">

								<div class="col-md-10">
									<input type="number" name="NoSeats" />
								</div>
							</div>
							<br />
							<div class="form-group">
								<div class="col-md-offset-2 col-md-10">
									<input type="submit" value="Зачувај" class="btn btn-default" />
								</div>
							</div>

						</div>
					}
				</div>
			</div>
		</div>
	</div>
</section>

